//replace the {YOUR_API_KEY} placeholders with your actual API key from thegraph.com. Don't forget to save the changes and then rename this file to ".env"
GRAPH_API_KEY={YOUR_API_KEY}
GRAPH_QUERY_URL=https://gateway-arbitrum.network.thegraph.com/api/{YOUR_API_KEY}/subgraphs/id/EYCKATKGBKLWvSfwvBjzfCBmGwYNdVkduYXVivCsLRFu
